*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(213, 208, 208);
}
.logo{
    width: full;
    height: 100px;
    background: gray;
    color: black;
    font-family: cursive;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin: 40px 20px 0 20px;
}
.box .dream{
    

    width: 32%;
    cursor: pointer;
    
    position: relative;

}
.box .dream img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    border:4px solid rgb(30, 28, 28);
    transition: all 0.9s;

}
.box .dream img:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 6px -1px rgba(42, 40, 40, 0.5);
}
