
@for $i from 1 through 10{
    .shade-#{$i * 100}{
        margin-top: 10px;
        width: #{$i * 100}px;
        height:#{$i * 50}px;
        background:darken(pink, $i * 3%);
    }
}
$border-radius : (
    "regular":12px,
     "medium":20px, 
     "maximum": 30px
     );

$padding:(
    "small":10px , 
    "big":20px ,
    "large": 30px
    );

.shade-100 , .shade-200 , .shade-300 , .shade-400{
    border-radius: map-get($map:$border-radius , $key:regular );
    padding: map-get($map:$padding , $key:small );
}

.shade-500 , .shade-600 , .shade-700{
    border-radius: map-get($map:$border-radius , $key:medium );
    padding: map-get($map:$padding , $key:big );
}

.shade-800 , .shade-900 , .shade-1000{
    border-radius: map-get($map:$border-radius , $key:maximum );
    padding: map-get($map:$padding , $key:large );
}

