.list{
    width: 400px;
    height: 500px;
    background-color: rgb(200, 166, 231);
    border: 1px solid black;
    border-radius: 12px;
    margin: 0px auto;
    text-align: center;
}
h1{

    font-size: x-large;
    color: blue;
}
h3{
    font-size: large;
    color: brown;
}
ul{
    list-style-type: none;
}
ol{
    list-style-type: none;
}
ul li:before{
    content: ">";
    display: block;
    float: left;
    
}

ol li:before{
    content:"*";
    display: block;
    float: left;
    font-size:15px;
}