*{
    margin: 0;
    padding: 0;
}
.container{
    width:400px;
    height: 500px;
    margin: 100px auto;
    border-radius: 100%;
    background-color: rgb(44, 102, 235);
    border-radius:30% 15px;
}
h1{
    text-align: center;
    color:white;
    padding-top: 20px;
    font-size: 35px;
    padding-left: 10px;
}
.contant{
    margin-left: 60px;
    padding-top: 30px;
    }
input{
    font-size: 20px;
    padding:10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}
textarea{
    font-size: 20px;
    padding:10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
button{
    width: 250px;
    height: 30px;
    border-radius:10px ;
    margin: 0 auto;
    margin-top: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
}
button:hover{
    background-color:  rgb(32, 53, 75);
    color: white;
}
input:focus{
    background-color:rgb(203, 225, 247);
    /* color: white; */
}