*{
  margin: 0px;
  padding: 0px;
  border:2px solid black;
  font-size: xx-large;
  text-align: center;
}
.container{
  max-width: 100%;
}
.header{
  background-color: lightpink;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }
  .content{
    background-color: lightblue;
  }
  .footer{
    background-color: lightpink;
  }
  @media (max-width:768px){
    .main{
      display: flex;
      flex-direction: column;
      }
  }

