.wrapper{
  margin:30px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

}
.header{
  background:lightpink;
  width: 600px;
  height: 200px;
  font-size: 20px;
}
.content1{
  background-color: lightyellow;
  width: 600px;
  height: 200px;
  font-size: 20px;
  text-align: center;
}
.content2{
  background-color: lightgreen;
  width: 600px;
  height: 200px;
  font-size: 20px;
  text-align: center;
}
.footer{
  background-color: lightblue;
  width: 600px;
  height: 200px;
  font-size: 20px;
  text-align: center;
}
.first-part{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.second-part{
  display: flex;
  flex-direction: column;
  align-items: center;

}
@media all and (max-width:768px){
  .first-part{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header{
    font-size: 40px;
  }
  .content1{
    font-size: 40px;
  }
  .content2{
    font-size: 40px;
  }
  .footer{
    font-size: 40px;
  }
  .second-part{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
}
}

